// _variables.scss
// =================
@import "http://fonts.googleapis.com/css?family=Patua+One|Inika";

$white                   : #ffffff;
$green                   : #80a02f;
$lightGreenGradientStart : #b7d36d;
$lightGreenGradientEnd   : #a0bd52;
// $lightGreen           : #afcb64;
$inactiveGreen           : #bed0ab;
$darkGreen               : #427114;
$greyGradientStart       : #e4e4e5;
$greyGradientEnd         : #bdbdbe;
// $grey                 : #cdcdce;
$boxTabGreyGradientStart : #f8fbfd;
$boxTabGreyGradientEnd   : #d8d6d7;
//$boxTabGrey            : #ebeced;
$boxTabGreenGradientStart: #dfeed6;
$boxTabGreenGradientEnd  : #91ad4d;
//$boxTabGreen           : #91ad4d;
$boxTabGreenBorder       : #a1bb69;
$boxHeaderGradientStart  : #fbf1e9;
$boxHeaderGradientEnd    : #bbbbbb;
//$boxHeader             : #d7d3cf;
$boxHeaderBorder         : #d3d4d4;
$boxHeaderSelect         : #727f8f;
$boxHeaderTextPassive    : #bac0c8;
$black                   : #000000;
$darkGrey                : #151515;
$darkGreyInput           : #282828;
$greyText                : #767676;
$fligtSearchGradientStart: #628115;
$fligtSearchGradientEnd  : #97b548;
$fligtSearchGradientBorderTop: #505050;
$fligtSearchGradientBorderBottom: #2d2d2d;
$fligtSearch             : #7c992d;
$darkGreyGradientStart   : #2c2c2c;
$darkGreyGradientEnd     : #1c1c1c;
//$orange                : #fc8200;
$orangeGradientStart     : #fd8e00;
$orangeGradientEnd       : #eb6700;
$greenVivid              : #a6d62e;
$footerBackground        : #b0b99e;
$footerGrey              : #8d8e92;


$bodyFont : Arial, Helvetica, sans-serif;